@import '../../../styles/variables';

.module {
  &__box {
    fill: $color_bg;
    stroke: $color_fg;
    stroke-width: 3px;
    width: $module_width;
    height: $module_height
  }

  &__title {
  }

  &__io {
  }
}
