@import '../../../styles/variables';

.module {
  &--selected {
    .module__box {
      fill: darken($color_bg, 10%);
    }
  }

  &__box {
    fill: $color_bg;
    stroke: $color_fg;
    stroke-width: 3px;
    width: $module_width;
    height: $module_height
  }

  &__title {
  }

  &__io {
  }
}
